@using WXDataModel
@using WXDataModel.Extend
@using WXDataUI.Models

@{
    string COLOR = LoadingColor.GetColor();
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @RenderSection("easyui", required: false)
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/loaders.min.css" rel="stylesheet" />
    <link href="/Content/dashboard.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <style>
        #CheckAll{
            width:100%;
        }
        .FuncList>li {
            position: relative;
            display: block;
        }
        .FuncList{
            padding:0;
        }
        .FuncList>li>a {
            position: relative;
            display: block;
            padding: 10px 15px;
        }

        .FuncList a {
            margin-left: 3em;
        }
        .modal-footer{
            padding: 5px 10px 5px; 
            margin:0;
        }
        a.disable{ 
            pointer-events:none; 
            color:#afafaf; 
            cursor:default 
        } 
        #BackDrop{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        #LoadingBox,#BackDrop{
            width:100%;
            background:@COLOR;
            height:100%;
        }
        #LoadingBox>div,#BackDrop>div{
            width:80px;
            height:80px;
            display:inline-block;
            text-align: center; 
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .table>thead>tr>th{
            text-align: center;
        }
    </style>
    @RenderSection("styles", required: false)

</head>
@{
    SYS_User user = Session["SYSUSER"] as SYS_User;
    List<SYS_Function> funList = Session["USERRIGHT"] as List<SYS_Function>;
}
<body>
    @*导航条*@
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Base/Home/Index">微信公众号管理系统</a>

            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">设置</a></li>
                    <li><a href="#">帮助</a></li>
                    <li>
                        <a href="#" data-toggle="modal" data-backdrop="false"
                           data-target="#Logout">当前用户:@user.UserName</a>
                    </li>    
                    <li>
                        <a href="#" data-toggle="modal" data-backdrop="false"
                           data-target="#Logout">公众号:@user.WX_App.AppName</a>
                    </li>
                    @*<li>
                        <a href="/Home/MenuEdit/0" data-toggle="modal" data-backdrop="false"
                           data-target="#MenuEdit">添加菜单</a>
                    </li>*@
                </ul>
                @*<form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="搜索...">
                </form>*@
            </div>
        </div>
    </nav>

    <div class="content">
        <div class="col-sm-3 col-md-2 sidebar" style="padding: 0;">
            <div class="panel-group" id="funcList" role="tablist" aria-multiselectable="true">
                @foreach (var i in funList)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="@i.FunctionID">
                            <h4 class="panel-title">
                                <a role="button" class="" data-toggle="collapse" data-parent="#funcList" href="#collapse-@i.FunctionID" aria-expanded="true" aria-controls="collapse-@i.FunctionID">
                                    <img src="/Content/Images/@i.ImageUrl"/>
                                    <span>@i.FunctionName</span>
                                </a>
                            </h4>
                        </div>
                        <div id='collapse-@i.FunctionID' class="panel-collapse collapse " role="tabpanel" aria-labelledby="@i.FunctionID">
                            <div class="panel-body" style="border:none;">
                                @*nav nav-sidebar navbox*@
                                <ul class="FuncList">
                                    @*<li><a href="/Base/App/Index">公众号管理</a></li>
                                    <li><a href="/Base/SYSUser/Index">系统用户管理</a></li>
                                    <li><a href="/Base/Role/Index">角色管理</a></li>*@
                                    @foreach (var k in i.GetChildByRole(user.RoleId.Value))
                                    {
                                        <li><a href="@k.FunctionUrl">@k.FunctionName</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 mains">
            @RenderBody()
        </div>
    </div>
    @* 编辑系统用户 *@
    <div class="modal fade" id="EditSysUser">
        
    </div><!-- /.modal -->
    @* 编辑系统用户end *@

    @*登出模态框*@
    <div class="modal fade" id="Logout">
        <div class="modal-dialog" style="width:300px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <p>确定登出吗?</p>
                </div>
                <div class="modal-footer" style="padding: 5px 10px 5px; margin:0;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">否</button>
                    <a href="/Base/Home/Logout"  class="btn btn-primary">是</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    @*登出end*@

    @*编辑公众号模态框*@
    <div class="modal fade" id="EditApp">
        
    </div><!-- /.modal -->
    @*编辑公众号模态框end*@


    @*分配客服模态框*@
    <div class="modal fade" id="AllotUser">
        
    </div><!-- /.modal -->
    @*分配客服模态框end*@

    @*修改角色权限模态框*@
    <div class="modal fade" id="EditFunction">
        
    </div><!-- /.modal -->
    @*修改角色权限模态框end*@

    @*编辑角色模态框*@
    <div class="modal fade" id="EditRole">
        
    </div><!-- /.modal -->
    @*编辑角色模态框end*@

    @*编辑微信用户模态框*@
    <div class="modal fade" id="EditWXUser">
        
    </div><!-- /.modal -->
    @*编辑微信用户模态框end*@

    @*系统管理查看信息*@
    <div class="modal fade" id="LookSysUser">
        
    </div><!-- /.modal -->
    @*系统管理查看信息end*@
    
    @*订阅用户管理 标签|组编辑*@
    <div class="modal fade" id="TagGroupEdit">
        
    </div><!-- /.modal -->
    @*订阅用户管理 标签|组编辑*@

    @*新增素材*@
    <div class="modal fade" id="AddMedia">
        
    </div><!-- /.modal -->
    @*新增素材end*@

    @*菜单管理*@
    <div class="modal fade" id="EditMenu">

    </div><!-- /.modal -->
    @*菜单管理end*@

    @*李政 菜单管理 新增*@
    <div class="modal fade" id="LZ_Add_WX_Menu">
        
    </div><!-- /.modal -->
    @*李政 菜单管理 新增end*@
    
    @*图文消息管理*@
    <div class="modal fade" id="AddNews">

    </div><!-- /.modal -->
    @*图文消息管理end*@

    @*菜单事件管理*@
    <div class="modal fade" id="EditEvent">

    </div><!-- /.modal -->
    @*菜单事件管理end*@
    <div id="BackDrop" style="z-index:9999;">
        <div>
            <div class="loader">
                <div class="loader-inner line-scale-pulse-out-rapid">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="Loading" style="height:100%;">
        <div class="modal-dialog" style="height:100%;margin:0;width:100%;padding:0;">
            <div id="LoadingBox">
                <div>
                    <div class="loader">
                        <div class="loader-inner line-scale-pulse-out-rapid">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



    <script>
        $(function () {

            //设置模态框属性
            $('.modal').on('hidden.bs.modal', function (e) {
                $(this).removeData();
            });
            //设置模态框属性end

            //加载框相关
            Init();
            $(".FuncList").delegate('a[href]', 'click', function () {
                $("#Loading").modal('show');
            });
            function Init() {
                $("#Loading").css("background", "@COLOR");
                //$("#Loading").modal('show');
                LoadingHide();

               
            }
            function LoadingHide() {
                setTimeout(function () {
                    $("#BackDrop").fadeOut(500);
                }, 1000);
            }
            //加载框相关end


            //GetFunction();
            Keep();

            //通用全选反选 id: CheckAll || class: ck
            $("#CheckAll").change(function () {
                $(".ck").prop("checked", $(this).prop("checked"));
            });
            $(".ck").change(function () {
                var temp = true;
                $.each($(".ck"), function (i,obj) {
                    if (!$(obj).prop("checked"))temp = false;
                });
                $("#CheckAll").prop("checked", temp);
                IsChecked = temp;
            });
            //通用全选反选end
        });
        //保持导航栏状态
        function Keep() {
            var strs = location.href.split('/');
            if (strs[strs.length-1].indexOf('?') != -1) {
                strs[strs.length-1] = strs[strs.length-1].substring(0, strs[strs.length-1].indexOf('?'));
            }
            //console.info(strs);
            var url = strs[strs.length - 3] + "/" + strs[strs.length - 2] + "/" + strs[strs.length - 1];
            var a = $("a[href *='" + url + "']");
            //console.info(a);
            $(a).css("color","white");
            $(a).parents("li").addClass("active");
            $(a).parents(".panel-collapse").removeClass("collapse").addClass("in");
        }
        //保持导航栏状态end
        


        //function GetFunction (){
        //    //初始化菜单
        //    $.post("/Base/Home/GetFunction", "", function (json) {
        //        var panel = "";
        //        $.each(json, function (i, obj) {
        //            var child = "";
        //            $.each(obj.children, function (j, c) {
        //                child += "<li><a href=\"" + c.FunctionUrl + "\">" + c.FunctionName + "</a></li>";
        //            });
        //            var temp = "";
        //            if (i == 0) {
        //                temp = "in";
        //            } else {
        //                temp = "collapse";
        //            }
        //            panel += "<div class=\"panel panel-default\">"+
        //                            "<div class=\"panel-heading\" role=\"tab\" id=\"" + obj.FunctionID + "\">" +
        //                                "<h4 class=\"panel-title\"><a role=\"button\" class=\"\" data-toggle=\"collapse\" data-parent=\"#accordion\" href=\"#collapse" + obj.FunctionID + "\" aria-expanded=\"true\" aria-controls=\"collapse" + obj.FunctionID + "\">" + obj.FunctionName + "</a></h4>" +
        //                            "</div>"+
        //                            "<div id=\"collapse" + obj.FunctionID + "\" class=\"panel-collapse " + temp + " \" role=\"tabpanel\" aria-labelledby=\"" + obj.FunctionID + "\">" +
        //                                "<div class=\"panel-body\">"+
        //                                    "<ul class=\"nav nav-sidebar navbox\">" +
        //                                        child+
        //                                    "</ul>"+
        //                                "</div>"+
        //                            "</div>"+
        //                        "</div>";
        //        });
        //        $("#accordion").html(panel);
        //    });//post
        //}
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
