@using WXDataModel
@using WXDataUI.Helpers
@using WXDataModel.Extend
@{
    ViewBag.Title = "管理订阅用户";
    List<WX_UserGroup> GroupList = ViewBag.GroupList as List<WX_UserGroup>;
    PageList<WX_User> MyPage = ViewBag.Page as PageList<WX_User>;
    WX_App MyApp = (Session["SYSUSER"] as SYS_User).WX_App;
}
@section styles{

    <link href="~/Content/Common.css" rel="stylesheet" />
    <style>
        .UserGroup .nav > li > a {
            padding: 5px;
            font-size: 13px;
        }

        .form-group label {
            height: 34px;
            line-height: 34px;
        }

        .UserGroup .panel {
            margin-bottom: 0;
        }

        .UserGroup .panel-heading {
            background-color: #fff;
        }

        .UserGroup .panel-title a {
            font-size: 13px;
            border: none;
        }

        .ul-full {
            margin-top: 10px;
        }

        .toolList i {
            font-size: 10px;
        }

        .toolList .btn {
            padding: 0 5px;
        }
    </style>
}

<div class="usercontent">
    <div class="col-xs-2 padd usetlef">
        <nav class="navbar marg  navbar-default navbar-static-top">
            <div class="col-xs-12">
                <h5 class="navbar-text navbar-left">用户分类<a href="#" class="navbar-link"></a></h5>
            </div>
        </nav>
        <div class="UserGroup">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#TagList" aria-controls="TagList" role="tab" data-toggle="tab">按标签查看</a></li>
                <li role="presentation"><a href="#GroupList" aria-controls="GroupList" role="tab" data-toggle="tab">按分组查看</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="TagList">
                    <ul style="list-style:none;" class="ul-full" id="TagList">
                        <li class="toolList">
                            <div class="btn-group" role="group" aria-label="...">
                                <a href="/WXUser/Tag/AddTag" data-backdrop="false" data-target="#TagGroupEdit" data-toggle="modal" type="button" class="btn btn-default" title="添加标签">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </a>
                                <a href="/WXUser/Tag/DeleteTag" data-backdrop="false" data-target="#TagGroupEdit" data-toggle="modal" type="button" class="btn btn-default" title="移除标签">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                                <a href="/WXUser/Tag/EditTag" data-backdrop="false" data-target="#TagGroupEdit" data-toggle="modal" type="button" class="btn btn-default" title="编辑">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                                <button type="button" class="btn btn-default" title="查看">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                                <button type="button" class="btn btn-default" id="SyncTag" title="同步">
                                    <i class="glyphicon glyphicon-refresh"></i>
                                </button>
                            </div>
                        </li>
                        <li class="SearchTag">
                            <div style="margin-top:20px;">
                                <div class="loader-inner ball-clip-rotate">
                                    <div></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane" id="GroupList">
                    <ul style="list-style:none;" class="ul-full" id="GroupList">
                        <li class="toolList">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default" title="添加组">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </button>
                                <button type="button" class="btn btn-default" title="移除组">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                                <button type="button" class="btn btn-default" title="编辑">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button>
                                <button type="button" class="btn btn-default" title="查看">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </li>
                        <li class="SearchGroup">
                            <span><a href="#" tagId="0">全部(@GroupList.Sum(s => s.WX_User.Count()))</a></span>
                            <ul style="list-style:none;">
                                @foreach (var i in GroupList)
                                {
                                    <li><a href="#" gId="@i.GroupId">@i.GroupName (@i.WX_User.Count())</a></li>
                                }
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>

        </div>

    </div>
    <div class="col-xs-10 padd">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="rightheadingone">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseRight" aria-expanded="true" aria-controls="collapseRight">
                            查询内容
                        </a>
                    </h4>
                </div>
                <div id="collapseRight" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="rightheadingone">
                    <div class="panel-body">
                        <div class="col-xs-11">
                            <div class="form-inline topfind">
                                <div class="form-group col-xs-6">
                                    <label for="S_OpenID" class="col-xs-3">用户编码:</label>
                                    <div class="col-xs-9"><input type="text" class="form-control" name="OpenID" id="S_OpenID" placeholder="用户编码"></div>
                                </div>
                                <div class="form-group  col-xs-6">
                                    <label for="S_UserNick" class="col-xs-3">用户名:</label>
                                    <div class="col-xs-9"><input type="text" class="form-control" name="UserNick" id="S_UserNick" placeholder="用户名"></div>
                                </div>
                            </div>
                            <div class="form-inline topfind">
                                <div class="form-group col-xs-6">
                                    <label for="S_Telphone" class="col-xs-3">移动电话:</label>
                                    <div class="col-xs-9"><input type="text" class="form-control" name="Telphone" id="S_Telphone" placeholder="移动电话"></div>
                                </div>
                                <div class="form-group col-xs-6">
                                    <label for="S_Emial" class="col-xs-3">邮件地址:</label>
                                    <div class="col-xs-9"><input type="text" class="form-control" name="Emial" id="S_Emial" placeholder="邮件地址"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div>
                                <a href="#" class="btn btn-default">查询</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="datalist">
                <nav class="navbar marg  navbar-default navbar-static-top">
                    <div class="col-xs-12">
                        <h5 class="navbar-text navbar-left">数据列表<a href="#" class="navbar-link"></a></h5>
                        <div class="navbar-text navbar-right ">
                            <ul class="list-inline marg">
                                <li>
                                    <i class="glyphicon glyphicon-pencil"></i>
                                    <a href="#">分组</a>
                                </li>
                                <li><i class="glyphicon glyphicon-pencil"></i><a href="/WXUser/Home/AddTag" data-target="#TagGroupEdit" data-toggle="modal" class="disable" id="AddTag">添加标签</a></li>
                                <li><i class="glyphicon glyphicon-list"></i><a href="#">查看</a></li>
                                <li><i class="glyphicon glyphicon-minus"></i><a href="#">删除</a></li>
                                <li><i class="glyphicon glyphicon-refresh"></i><a href="#" id="Refresh">刷新</a></li>
                            </ul>
                        </div>
                        
                    </div>
                </nav>
                <div class="datacontent">
                    
                    <div class="fromcontent">
                        <table class="table table-bordered table-hover userList">
                            <thead>
                                <tr class="text-center">
                                    <th><input type="checkbox" name="name" id="CheckAll" /></th>
                                    <th>关注</th>
                                    <th>用户标识</th>
                                    <th>昵称</th>
                                    <th>头像</th>
                                    <th>性别</th>
                                    <th>所在城市</th>
                                    <th>所在省份</th>
                                    <th>所在国家</th>
                                    <th>关注时间</th>
                                    <th>所属客服</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in MyPage)
                                {
                                    <tr class="text-center">
                                        <td><input type="checkbox" name="name" value="" class="ck" openId="@i.OpenID"></td>
                                        <td>@i.GetFollowStatus()</td>
                                        <td>@i.OpenID</td>
                                        <td>@i.UserNick</td>
                                        <td><img style="width:40px" src="@i.HeadImageUrl" alt="@i.UserNick"></td>
                                        <td>@i.UserSex</td>
                                        <td>@i.City</td>
                                        <td>@i.Province</td>
                                        <td>@i.Country</td>
                                        <td>@i.SubscribeTime</td>
                                        <td>@i.GetSysUser()</td>
                                        <td>
                                            <ul class="list-inline marg operation">
                                                <li class="Find btn btn-success" data-toggle="tooltip" data-placement="right" title="查看"><a href="/WXUser/Home/UserInfo/@i.OpenID" data-toggle="modal" data-target="#EditWXUser" class="glyphicon glyphicon-search"></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <nav class="PageIndexList" aria-label="Page navigation">
                            <ul class="pagination">
                                @if (MyPage.HasPreviousPage)
                                {
                                    <li>
                                        <a href="#" id="PrevPage" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="disabled">
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                }
                                @for (var i = 1; i <= MyPage.TotalPages; i++)
                                {
                                    <li><a href="#" PageIndex="@i">@i</a></li>
                                }
                                @if (MyPage.HasNextPage)
                                {
                                    <li>
                                        <a href="#" id="NextPage" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="disabled">
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                }


                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="Search_Type" value="@ViewBag.SearchType" />
    <input type="hidden" id="Search_PageIndex" value="@MyPage.PageIndex" />
    <input type="hidden" id="Search_PageSize" value="3" />
    <input type="hidden" id="Search_Key" value="@ViewBag.SearchKey" />


</div>
    <script>
        $(function () {
            GetTags();
            //分页相关
            $("a[PageIndex='@MyPage.PageIndex']").css("color","white").parents("li").addClass("active");
            $(".SearchTag").delegate("a","click",function () {
                $("#Search_Type").val(3);
                $("#Search_PageIndex").val();
                $("#Search_Key").val($(this).attr("tagId"));
                GetUser();
            });
            $(".SearchGroup").delegate("a","click",function () {
                $("#Search_Type").val(4);
                $("#Search_Key").val($(this).attr("gId"));
                GetUser();
            });

            $(".PageIndexList").delegate("a[PageIndex]","click",function(){
                var pageIndex = $(this).attr("PageIndex");
                $("#Search_PageIndex").val(pageIndex);
                GetUser();
            });
            $("#NextPage").on("click",function(){
                $("#Search_PageIndex").val(@MyPage.NextPage);
                GetUser();
            });
            $("#PrevPage").on("click",function(){
                $("#Search_PageIndex").val(@MyPage.PreviousPage);
                GetUser();
            });
            //分页相关end

            //更新标签
            $("#SyncTag").click(function(){
                GetTags();
            });
            //更新标签end

            //刷新用户列表
            $("#Refresh").click(function(){
                $.post("/WXUser/Home/UpdateList",function(r){
                    if(!r.Result){
                        alert(r.ErrorMsg);
                    }else{
                        alert("更新成功!");
                        GetUser();
                        GetTags();
                    }
                });
            });

            //刷新用户列表end

            //添加组

            //添加组end

            //给用户添加标签
            $(".userList input[type=checkbox]").change(function(){
                var openIdList = [];
                $(".ck:checked").each(function(i,obj){
                    openIdList[i] = $(obj).attr("openid");
                });
                //console.info(openIdList);
                if(openIdList.length == 0){
                    $("#AddTag").addClass("disable");
                }else{
                    $("#AddTag").removeClass("disable").attr("href","/WXUser/Home/AddTag?openId="+openIdList);
                    //console.info($("#AddTag").attr("data-whatever"));
                }

            });
            //给用户添加标签end


        });
        function GetUser() {
            var Search_Type = $("#Search_Type").val();
            var Search_PageIndex = $("#Search_PageIndex").val();
            var Search_PageSize = $("#Search_PageSize").val();
            var Search_Key = $("#Search_Key").val();
            console.info(Search_PageSize);
            if(Search_Key==0)Search_Type=1;
            location.href = "/WXUser/Home/Index?type="+Search_Type+"&pageIndex="+Search_PageIndex+"&pageSize="+Search_PageSize+"&key="+Search_Key;
        }

        function GetTags(){
            $.post("/WXUser/Tag/SyncTag",function(data){
                console.info(data);
                var li = "";
                $.each(data.data,function(i,obj){
                    li += "<li><a href='#' tagid=" + obj.TagId + ">" + obj.TagName + " (" + obj.UserCount + ")</a></li>";
                });
                var node = "<span><a href='#' tagId='0'>全部(<span>" + data.AllCount + "</span>)</a></span>" +
                            "<span><a href='#' tagId='-1'>未分组(<span>" + data.UnTagCount + "</span>)</a></span>" +
                            "<ul style='list-style:none;'>"+
                                li+
                            "</ul>";
                //console.log(node);

                $(".SearchTag").html(node);
            });
        }
    </script>

