
@using WXDataModel

@{ 
    WX_App app = ViewBag.App as WX_App;
}

<form action="/Base/APP/UpdateApp" id="form" method="post">
    <div class="modal-dialog" style="width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">新增公众号</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="AppId" class="col-sm-2 control-label">公众号ID</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="AppId" id="AppId" placeholder="公众号ID" value="@app.AppId">
                    </div>
                    <label for="AppSecret" class="col-sm-2 control-label">公众号密码</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="AppSecret" id="AppSecret" placeholder="公众号密码" value="@app.AppSecret">
                    </div>
                </div><!--form-group end-->

                <div class="form-group">
                    <label for="inputAppName" class="col-sm-2 control-label">公众号名称</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="AppName" id="AppName" placeholder="公众号名称" value="@app.AppName">
                    </div>

                    <label for="WXId" class="col-sm-2 control-label">微信ID</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="WXId" id="WXId" placeholder="微信ID" value="@app.WXId">
                    </div>
                </div><!--form-group end-->

                <div class="form-group">
                    <label for="AppType" class="col-sm-2 control-label">公众号类型</label>
                    <div class="col-sm-4">
                        <select class="form-control" name="AppType" id="AppType">
                            <option value="订阅号">订阅号</option>
                            <option value="公众号">公众号</option>
                            <option value="企业号">企业号</option>
                            <option value="小程序">小程序</option>
                        </select>
                    </div>

                    <label for="CompanyName" class="col-sm-2 control-label">公司名称</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="CompanyName" id="CompanyName" placeholder="公司名称" value="@app.CompanyName">
                    </div>
                </div><!--form-group end-->

                <div class="form-group">
                    <label for="Remark" class="col-sm-2 control-label">备注</label>
                    <div class="col-sm-10">
                        <textarea type="text" name="Remark" class="form-control" id="Remark" placeholder="备注" >@app.Remark</textarea>
                    </div>
                </div><!--form-group end-->


                <div class="form-group">
                    <label class="col-sm-2 control-label">状态</label>
                    <div class="col-sm-4">
                        <div class="col-sm-6" style="height:34px;line-height:34px;">
                            <span style="margin-right:20px;">正常</span><input type="radio" name="AppState" value="正常" checked>
                        </div>
                        <div class="col-sm-6" style="height:34px;line-height:34px;">
                            <span style="margin-right:20px;">无效</span>
                            @if (app.AppState.Equals("正常"))
                            {
                                <input type="radio" name="AppState" value="无效">
                            }
                            else
                            {
                                <input type="radio" name="AppState" value="无效" checked>
                            }
                        </div>
                    </div>
                </div><!--form-group end-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <input type="button" id="submit" class="btn btn-primary" value="保存">
            </div>


        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</form>
<script>
    $(function () {
        $("#submit").click(function () {
            $.post('/Base/APP/UpdateApp', $("form").serialize(), function (r) {
                if (r) {
                    $("#EditApp").modal('hide');
                    GetApp();
                } else {
                    $("#EditApp").modal('hide');
                    alert("操作失败!");
                }
            });
        });
    });
</script>