@using WXDataModel
@{
    SYS_User sysUser = ViewBag.SYSUser as SYS_User;
}
<form action="/Base/SYSUser/UpdateSysUser" id="form" method="post">
    <div class="modal-dialog  modal-lg" style="width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">修改用户</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="LoginId" class="col-sm-2 control-label">用户名/登录名</label>
                    <div class="col-sm-4">
                        <input type="text" name="LoginId" class="form-control" id="LoginId" placeholder="" value="@sysUser.LoginId">
                    </div>
                    <label for="UserName" class="col-sm-2 control-label">真实姓名</label>
                    <div class="col-sm-4">
                        <input type="text" name="UserName" class="form-control" id="UserName" placeholder=""value="@sysUser.UserName">
                    </div>
                </div><!--form-group-->

                <div class="form-group">
                    <label for="select1" class="col-sm-2 control-label">公众号</label>
                    <div class="col-sm-4">
                        <input type="hidden" name="AppId" value="@sysUser.WX_App.AppId" />
                        <select class="form-control" name="AppId" id="select1" disabled>
                            @foreach (var a in (List<WX_App>)ViewBag.AppList)
                            {
                                if (a.AppId == sysUser.WX_App.AppId)
                                {
                                    <option value="@a.AppId" selected>@a.AppName</option>
                                }
                            }
                        </select>
                    </div>
                    <label for="select2" class="col-sm-2 control-label">角色类型</label>
                    <div class="col-sm-4">
                        <select class="form-control" name="RoleId" id="select2">
                            @foreach (var a in (List<SYS_Role>)ViewBag.RoleList)
                            {
                                if (a.RoleId == sysUser.RoleId)
                                {
                                    <option value="@a.RoleId" selected>@a.RoleName</option>
                                }
                                else
                                {
                                    <option value="@a.RoleId" >@a.RoleName</option>
                                }

                            }
                        </select>
                    </div>
                </div><!--form-group-->



                <div class="form-group">
                    <label for="Email" class="col-sm-2 control-label">邮件地址</label>
                    <div class="col-sm-4">
                        <input type="email" name="Email" class="form-control" id="Email" placeholder=""
                               value="@sysUser.Email">
                    </div>
                    <label for="Telphone" class="col-sm-2 control-label">移动电话</label>
                    <div class="col-sm-4">
                        <input type="text" name="Telphone" class="form-control" id="Telphone" placeholder="" value="@sysUser.Telphone">
                    </div>
                </div><!--form-group-->

                <div class="form-group">
                    <label for="WXId" class="col-sm-2 control-label">微信号</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="WXId" name="WXId"  placeholder="" value="@sysUser.WXId">
                    </div>
                    <label class="col-sm-2 control-label">性别</label>
                    <div class="col-sm-4">
                        <div class="col-sm-6" style="height:34px;line-height:34px;">
                            <span style="margin-right:20px;">男</span><input type="radio" name="Sex" value="男" checked>
                        </div>
                        <div class="col-sm-6" style="height:34px;line-height:34px;">
                            <span style="margin-right:20px;">女</span><input type="radio" name="Sex" value="女">
                        </div>


                    </div>
                </div><!--form-group-->


            </div>


            <input type="hidden" name="Password" class="form-control" id="Password" placeholder="" value="@sysUser.Password">
            <input type="hidden" name="UserId" class="form-control" id="Password" placeholder="" value="@sysUser.UserId">
            <input type="hidden" name="UserState" class="form-control" id="Password" placeholder="" value="@sysUser.UserState">
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <input type="button" id="submit" class="btn btn-primary" value="保存">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</form>
<script>
    //EditSysUser
    $(function () {
        $("#submit").click(function () {
            $.post("/Base/SYSUser/UpdateSysUser", $("#form").serialize(), function (r) {
                if (r) {
                    $("#EditSysUser").modal("hide");
                    GetSYSUser();
                } else {
                    $("#EditSysUser").modal("hide");
                    alert("操作失败!");
                }
            });
        });
    });
</script>